/*==== Fonts ====*/

@font-face {
    font-family: Starcraft;
    src: url(../fonts/lan/Starcraft-Normal.ttf);
}

@font-face {
    font-family: Commodore-64;
    src: url(../fonts/lan/Commodore-64.ttf);
}

@font-face {
    font-family: Commodore-Angled;
    src: url(../fonts/lan/Commodore-Angled.ttf);
}

@font-face {
    font-family: Commodore-Rounded;
    src: url(../fonts/lan/Commodore-Rounded.ttf);
}

@font-face {
	font-family: Coda;
    src: url(../fonts/index/coda-regular.ttf);	
}


/*==== Colors ====
Sharpedo: 
lightest: #e6def6
dominant: #395294
middle: #5273bd
darkest: #293952
other: #aca4b4
*/


/*==== Global ====*/


body/*, html             was having background color issues */
 {
	background: #293952;
	background-image: url("../img/basement-construction.jpg");
	background-size: cover;
	background-attachment: fixed;
}

#page {
	background: #293952;
	border-radius: 10px;
}

a {
	color: #e6def6;
	font-weight: normal;
}

h1 {
	font-family: Starcraft;
	font-weight: normal;
	font-size: 1.35em;
	text-align: center;
	/* background-color: #de7329;  looks a bit off last time it was tried */
}

/* Need to apply a different style to */
h2 {
	font-family: Coda;
	font-size: 1.2em;
	float: left;
}

hr {
	height: 2px;
	margin-top: -15px;
}

/*==== Header ====*/

#navMenu {
	font-family: Starcraft, Arial;
	font-size: 1.3em;
}

.navbar li {
	font-family: Starcraft, Arial;
	font-size: 1.3em;
	background-color: #293952;
}

.navbar a {
    color: #e6def6;
}

.navbar a:hover {
    background-color: #293952;
	color: #293952;
	text-shadow: 2px 1px 0 #e6def6;
}


#colorscheme {
	font-family: Starcraft, Arial;
	font-size: 1.35em;
	font-weight: none;
	background-color: #395294;
	color: #c5ac8b;   
	display: none; /*Currently removed since starcraft font is so wide */
} 

/*==== Content ====*/

#content {
	color: #293952;
	background: #e6def6;
	font-family: Coda, Helvetica;
	font-size: 1em;
}

#interaction {
	color: #293952;
	background: #aca4b4;
	font-family: Coda, Helvetica;
}

/**************** Responsiveness ****************/

/* Low Res Desktop or Huge Tablet Specs */
@media screen and (min-width: 791px) and (max-width: 1040px) {
			
	#page {
		margin: 0 2% 0 2%;
	}		
	
	#colorscheme {
		margin-right: 4%;
	}
	
	#content {
		width: 70%;
		padding: 0 1.5%;
		display: block;
	}
	
	#interaction {
		width: 30%;
		padding: 0 1.5%;
	}
	
} /* End Low Rest Desktop / Huge Tablet Media Query */


/* Layout - Tablet Size Changes - Content Stacks */
@media screen and (min-width: 651px) and (max-width: 790px) {
	
	h1 {

	}	
	
	#page {

	}
	
	#colorscheme {

	}
	

	.navbar ul {

	}
	
	.navbar li {

	}
	
	#content {

	}
	
	#interaction {

	}

} /* End Tablet Size Media Query */


/* Layout - Phone Size Modifications - Content Still Stacks */
@media screen and (min-width: 220px) and (max-width: 650px) {

	h1 {

	}

	#page {

	}
	
	.navbar ul {
		display: none;
	}
	
	#navMenu {
		color: #e6def6;
		background: transparent;
		font-family: Starcraft, Arial;
		font-size: 1.5rem;
	}
	
	#colorscheme {
		color: #5a4131;
		background: #eee6cd;
		font-size: 1.5rem;
	}
	
	#content {

	}
	
	#interaction {

	}
	
} /* End Phone Size Media Query */
