/*==== Fonts ====*/

@font-face {
    font-family: Oldsh;
    src: url(../fonts/table_top/OLDSH.TTF);
}

@font-face {
    font-family: Ye-Olde-Oak;
    src: url(../fonts/table_top/Ye-Olde-Oak.ttf);
}


/*==== Colors ====
Pinsir: 

lightest: #eee6cd
dominant: #c5ac8b
middle: #836a52
darkest: #5a4131
*/


/*==== Global ====*/

body {
	background: #5a4131;
    background-image: url("../img/table-top-background.jpg");
	background-attachment: fixed;
	background-size: cover;
}

a {
	color: #ffffff;
}

h1 {
	font-family: Ye-Olde-Oak;
	font-weight: normal;
	/*
	color: #5a4131;
	background-color: #c5ac8b;
	border-radius: 8px;
	margin-right: 2%;
	margin-left: 2%;
	margin-bottom: 0;
	padding-top: 1%;
	padding-bottom: 1%;
		was testing h1 background colors */
}

/* Need to apply a different style to */
h2 {
	font-family: Oldsh;
	float: left;
}

hr {
	height: 2px;
	margin-top: -27px;
}

/*==== Header ====*/

.navbar {
	font-family: Ye-Olde-Oak, Arial;
	font-size: 1.25em;

}

.navbar li {
	font-family: Ye-Olde-Oak, Arial;
	font-weight: normal;
}

.navbar a {
    color: #eee6cd;
}

.navbar a:hover {
    background-color: #eee6cd;
	color: #c5ac8b;
	text-shadow: 2px 1px 0 #5a4131;
}

#colorscheme {
	font-family: Ye-Olde-Oak, Arial;
	font-size: 1.25em;
	font-weight: none;
	background-color: transparent;
	color: #eee6cd;
	display: none;
	/* Make button rounder? Spice it up...and fix alignment */
}

/*==== Content ====*/

#content {
	color: #5a4131;
	background: #eee6cd;
	font-family: Oldsh, Helvetica;
	font-size: 1em;
}

#interaction {
	color: #5a4131;
	background: #c5ac8b;
	font-family: Oldsh, Helvetica;
	font-size: 1em;
}


/**************** Responsiveness ****************/

/* Low Res Desktop or Huge Tablet Specs */
@media screen and (min-width: 791px) and (max-width: 1040px) {
			
	#page {
		margin: 0 2% 0 2%;
	}		
	
	#colorscheme {
		margin-right: 4%;
		font-size: 1.25rem;
		font-weight: normal;
	}
	
	#content {
		width: 70%;
		padding: 0 1.5%;
		display: block;
	}
	
	#interaction {
		width: 30%;
		padding: 0 1.5%;
		font-size: 1.35em;
	}
	
} /* End Low Rest Desktop / Huge Tablet Media Query */


/* Layout - Tablet Size Changes - Content Stacks */
@media screen and (min-width: 651px) and (max-width: 790px) {
	
	h1 {

	}	
	
	#page {

	}
	
	#colorscheme {

	}
	

	.navbar ul {

	}
	
	.navbar li {
		font-size: 1.25rem;
	}
	
	#content {

	}
	
	#interaction {

	}

} /* End Tablet Size Media Query */


/* Layout - Phone Size Modifications - Content Still Stacks */
@media screen and (min-width: 220px) and (max-width: 650px) {

	h1 {
		margin-right: 0;
	}

	#page {

	}
	
	.navbar ul {
		display: none;
	}
	
	#navMenu {
		color: #5a4131;
		background: #eee6cd;
		font-family: Ye-Olde-Oak, Arial;
		font-size: 1.5rem;
	}
	
	#colorscheme {
		color: #5a4131;
		background: #eee6cd;
		font-size: 1.5rem;
	}
	
	#content {

	}
	
	#interaction {

	}
	
} /* End Phone Size Media Query */
