/*==== Fonts ====*/

@font-face {
    font-family: Exocet;
    src: url(../fonts/wan/exocet.ttf);
}

@font-face {
    font-family: Diablo-H;
    src: url(../fonts/wan/diablo_h.ttf);
}

/*==== Colors ====
Houndour
	lightest: #ffffff
	otherlight: a49cac
	dominant: #292931 
	middle: #414a52
	darkest: #080808 
	red: #ac7352
******************/



/*==== Global ====*/


body
 {
	background: #293952;
	background-image: url("../img/diablo-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
}

a {
	color: white;
	font-weight: normal;
}

h1 {
	font-family: Diablo-H;
	font-weight: normal;
	font-size: 1.35em;
	text-align: center;
	text-shadow: 1px 1px 1 #ac7352;
	/* background-color: #de7329;  looks a bit off last time it was tried */
}

/* Need to apply a different style to */
h2 {
	font-family: Exocet;
	font-size: 1.2em;
	float: left;
}

hr {
	height: 2px;
	margin-top: -15px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, .05), rgba(172, 115, 82, 0.75), rgba(0, 0, 0, .05));
}

/*==== Header ====*/


.navbar li {
	font-family: Diablo-H, Arial;
	font-weight: normal;
	font-size: 1.5em;
}

.navbar ul li a{
	color: #080808;
	text-shadow: 3px 1px 0 #ac7352;
}

.navbar a:hover {
    background-color: transparent;
	color: #ac7352;
	text-shadow: 3px 1px 0 #080808;
}

#colorscheme {
	font-family: Starcraft, Arial;
	font-size: 1.35em;
	font-weight: none;
	background-color: #395294;
	color: #c5ac8b;   
	display: none; /*Currently removed since starcraft font is so wide */
} 

/*==== Content ====*/

#content {
	color: #ac7352;
	background: rgba(8, 8, 8, 0.5);
	font-family: Exocet, Helvetica;
	font-size: 1em;
}

#interaction {
	color: #080808;
	background: rgba(172, 115, 82, 0.7);
	font-family: Exocet, Helvetica;
}

#interaction hr {
	background-image: linear-gradient(to right, rgba(172, 115, 82, 0.25), rgba(0, 0, 0, 0.95), rgba(172, 115, 82, 0.25));
}

/**************** Responsiveness ****************/

/* Low Res Desktop or Huge Tablet Specs */
@media screen and (min-width: 791px) and (max-width: 1040px) {
			
	#page {
		margin: 0 2% 0 2%;
	}		
	
	#colorscheme {
		margin-right: 4%;
	}
	
	#content {
		width: 70%;
		padding: 0 1.5%;
		display: block;
	}
	
	#interaction {
		width: 30%;
		padding: 0 1.5%;
	}
	
} /* End Low Rest Desktop / Huge Tablet Media Query */


/* Layout - Tablet Size Changes - Content Stacks */
@media screen and (min-width: 651px) and (max-width: 790px) {
	
	h1 {

	}	
	
	#page {

	}
	
	#colorscheme {

	}
	

	.navbar ul {

	}
	
	.navbar li {
		font-size: 1.4rem;
	}
	
	#content {

	}
	
	#interaction {

	}

} /* End Tablet Size Media Query */


/* Layout - Phone Size Modifications - Content Still Stacks */
@media screen and (min-width: 220px) and (max-width: 650px) {

	h1 {

	}

	#page {

	}
	
	.navbar ul {
		display: none;
	}	
	
	#navMenu {
		background: rgba(8, 8, 8, 0.5);
		color: #080808;
		text-shadow: 2px 1px 0 orange;
		font-family: Exocet, Arial;
		font-size: 1.6em;
		border: 0;
	}
	
	#colorscheme {
		color: #5a4131;
		background: #eee6cd;
		font-size: 1.5rem;
	}
	
	#content {

	}
	
	#interaction {

	}
	
} /* End Phone Size Media Query */